<footer class="bg-dark text-white p-3 mt-4">
    <div class="container text-center">
        <p><a href="https://github.com/contra19/cms-blog" class="text-white" target="_blank">Check out this project at Contra19's Github Repo</a></p>
    </div>
</footer>
