<h2 class="d-flex justify-content-between align-items-center">
  My Blog Posts
  <a href="/dashboard/new" class="btn btn-primary">Add New Blog Post</a>
</h2>

<div class="row">
  {{#each posts}}
    {{> blog-card blog=this isHome=false isDashboard=true}}
  {{else}}
    <p>No posts yet</p>
  {{/each}}
</div>