<h2>My Blog Posts</h2>

{{#each posts}}
<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">{{this.title}}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{this.body}}</p>
  </div>
  <div class="card-footer text-muted">
    <small>Posted on {{format_date this.date}}</small>
  </div>
</div>
{{else}}
<p>No posts yet</p>
{{/each}}

<a href="/dashboard/new" class="btn btn-primary mb-4">Add New Blog Post</a>
