<main class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Latest Blog Posts</h2>
            {{#each blogPosts}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <p class="card-text">Created on {{ formatDate date }}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>
